:root {
    --cor: #483D5D;
}


#t1 {
    text-align: center;
    font-size: 5em;
    margin-top: 1em;
    margin-bottom: 1em;
    color: var(--cor);
}

hr {
    height: 1.5em;
    background-color: var(--cor);
}

#hr {
    height: 1em;
    
}

.container {
    font-family: 'Courier New', Courier, monospace;
    max-width: 40em;
    max-height: 40em;
    margin: auto;
    background-color: aliceblue;
    padding: 20px;

}

.p1 {
    text-align: justify;
    font-size: 2rem;
    margin-bottom: 30px;
    margin-top: 0;
    color: var(--cor);
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    font-size: 0.8em;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 4%;
    color: var(--cor);

}


#div {
    display: flex;
    display: -webkit-flex;
}

.button1 {
    width: 5em;
    height: 2em;
    background-color: var(--cor);
    color: aliceblue;
    font-size: 2rem;
    cursor: pointer;
    justify-content: center;
    margin: auto;
    margin-right: 5px;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
}


.button2 {
    width: 5em;
    height: 2em;
    background-color: var(--cor);
    color: aliceblue;
    font-size: 2rem;
    cursor: pointer;
    justify-content: center;
    margin: auto;
    margin-left: 5px;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;

}


h2 {
    font-size: 2rem;
    text-align: center;
    margin-top: 30px;
    color: var(--cor);
}

#resultado {
    font-size: 1rem;
    margin: 5px;
    margin-left: 11%;
    margin-top: 0;
    padding: 1%;
    max-width: 70%;
    text-align: justify;
    color: var(--cor);

}


/*  QUANTIDADE POR PESSOA  */





@media screen and (max-width: 500px) {}


#t1 {
    font-size: 2.5em;

}


.p1 {
    text-align: justify;
    font-size: 1.5rem;
}
